nav {
  border: unset;
  background-color: orange;
}
.navbar {
  color: black;
}
.navbar-brand {
  text-align: center;
  margin-top: -10px;
  font-weight: bold;
}
.search {
  margin-top: -44px;
  margin-left: 85% !important;
  width: 12% !important;
  background-color: orange;
  height: 45px;
  border-radius: 50px;
  position: absolute;
  transition: 0.5s;
  color: white;
}
.text-search {
  color: black !important;
}
.search i {
  margin-right: -8px !important;
  margin-top: -42px;
}
.search:hover {
  margin-left: 15% !important;
  margin-top: 5px;
  color: white;
  width: 70% !important;
  background-color: orange;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.search i:hover {
  margin-top: -14%;
}
.card-item {
  font-size: 12px;
}
.card-item h5 {
  font-size: 15px;
  font-weight: bolder;
  color: red !important;
}
.detail-btn {
  margin-bottom: 0;
  background-color: orange;
  color: white !important;
  font-weight: bolder !important;
}
.content-detail {
  color: orange !important;
  margin-top: -40px;
}
.content-detail i {
  margin-left: 19px;
  text-align: center;
}
.rating {
  font-size: 12px !important;
  margin-left: -20px !important;
}
.content-detail p {
  font-size: 12px;
  text-align: center;
}
.price-detail h5 {
  font-weight: bolder;
  background-color: orange;
  padding: 5px;
  margin-top: 5px;
  color: white;
  font-size: 15px;
}
.price-detail h4 {
  text-align: right;
  font-size: 35px;
  font-weight: bolder;
  color: red !important;
  width: 200px;
  padding-left: -20px;
  margin-top: 7px;
}
.user-prof {
  color: black !important;
  font-weight: bolder;
  font-size: 15px;
  padding: 7px 0;
  width: 250px !important;
}
.goto-seller {
  background-color: orange;
}
.seller-detail {
  margin-top: -35px;
}
.item-detail {
  margin-top: -30px;
}
.buy-btn {
  width: 100%;
  margin-top: -12px;
  background-color: orange;
}
.order-card img {
  margin-top: 10px;
  height: 120px;
}
.order-card h5 {
  text-align: left;
  margin-top: 7px;
  margin-left: -50px;
  font-size: 23px;
  font-weight: bolder;
  color: orange !important;
}
.order-card h3 {
  font-weight: bolder;
  color: red !important;
  margin-left: -50px;
}
.item-count {
  margin-left: -50px !important;
  margin-top: -11px;
}